In [37]:
import requests
import json
import pandas as pd
import pymysql

In [43]:
#영화장르 정보

genre_url="https://api.themoviedb.org/3/genre/movie/list?api_key=36927ad1d2817ff0fa31947e47d186fd&language=ko-KR"
response = requests.get(genre_url)
json_object = response.content
genre_data = json.loads(json_object)
genre_data_df = pd.DataFrame(genre_data['genres'])
print(genre_data_df)

#genre_data_df.to_csv("genre.csv")

       id   name
0      28     액션
1      12     모험
2      16  애니메이션
3      35    코미디
4      80     범죄
5      99  다큐멘터리
6      18    드라마
7   10751     가족
8      14    판타지
9      36     역사
10     27     공포
11  10402     음악
12   9648   미스터리
13  10749    로맨스
14    878     SF
15  10770  TV 영화
16     53    스릴러
17  10752     전쟁
18     37     서부

In [51]:
#!pip install pymysql

conn = pymysql.connect(host="localhost",
                       database="finalteam3",
                       user="kdigital",
                       password="mysql",
                       charset="utf8")
cursor = conn.cursor()

for id, name in genre_data_df.values:
    # print("{0}/{1}".format(id, name))
    sql= "INSERT INTO genre VALUES(%s, %s)"
    cursor.execute(sql, (id, name))

conn.commit()
conn.close()

In [76]:

movies_2010 = []
for page in range(1,40):    #40->454, 50->454
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&primary_release_date.gte=2010-01-01&vote_count.gte=100&primary_release_date.lte=2010-12-31&sort_by=primary_release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    movies_2010.append(movies['results'])


movies = []
for row in movies_2010:
    for r in row:
       movies.append(r)
movies_2010_df=pd.DataFrame(movies)
movies_2010_modified = movies_2010_df.drop(["adult", "backdrop_path","poster_path","video","genre_ids"], axis=1)
print(movies_2010_modified.columns)
movies_2010_modified.rename(columns={'id':'movie_id', 'original_title':'subtitle'}, inplace=True)
print(movies_2010_modified.columns)

# movies_2010_df.to_csv("movies_2010.csv")

Index(['id', 'original_language', 'original_title', 'overview', 'popularity',
       'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')
Index(['movie_id', 'original_language', 'subtitle', 'overview', 'popularity',
       'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [77]:
movies_2010_modified.head()

,movie_id,original_language,subtitle,overview,popularity,release_date,title,vote_average,vote_count
0,71700,en,Repeaters,"약물 중독 치료 센터에서 지내는 세 친구 카일, 소니아, 마이크는 치료에는 흥미가 ...",7.321,2010-01-01,엣지 오브 타임,5.7,131
1,27004,en,Ca$h,영화는 도주하던 범인이 던지고간 돈이 크리스 헴스위스의 오랜된 차에 떨어진다. 예기...,13.970,2010-01-01,캐쉬,5.8,171
2,36298,it,"Io, loro e Lara",,7.815,2010-01-05,"Io, loro e Lara",5.6,247
3,50475,ko,용서는 없다,과학수사대 최고의 실력파 부검의 강민호 교수(설경구). 유일한 가족인 딸과 함께 더...,6.804,2010-01-07,용서는 없다,7.6,118
4,25195,en,Leap Year,"4년에 단 하루, 운명의 기회! 지금 그녀가 프로포즈하러 갑니다! 연애 4년차 기...",40.692,2010-01-08,프로포즈 데이,6.9,1626

In [61]:
len(movies_2010_modified['overview'].values[0])

290

In [72]:
import pymysql

conn = pymysql.connect(host="localhost",
                       database="finalteam3",
                       user="kdigital",
                       password="mysql",
                       charset="utf8")
cursor = conn.cursor()

cursor.execute('DELETE FROM movie')

for row in movies_2010_modified.values:
    # cursor.execute('INSERT INTO movie (genre_id, movie_id, original_language, subtitle, overview, popularity, release_date, title, vote_average, vote_count)' 'VALUES (%5s, %5s, %3s, %100s, %5000s, %10s, %10s, %10s, %2s,%10s)',row)
     cursor.execute('INSERT INTO movie ( movie_id, original_language, subtitle, overview, popularity, release_date, title, vote_average, vote_count) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)', list(row[[0, 1, 2, 3, 4, 5, 6, 7, 8]]))
    # cursor.execute('INSERT INTO movie ( movie_id, original_language, subtitle, overview, release_date, title, vote_average, vote_count) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)', list(row[[1, 2, 3, 4, 6, 7, 8, 9]]))
    # print(row[[1, 2, 3, 4, 6, 7, 8, 9]])
    # print(len(row[[1, 2, 3, 4, 6, 7, 8, 9]])

conn.commit()
cursor.close()
conn.close()

In [71]:
# movie_genre 테이블에 데이터 삽입 코드 추가

In [7]:
movies_2011 = []
for page in range(1,60):
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&primary_release_date.gte=2011-01-01&vote_count.gte=100&primary_release_date.lte=2011-12-31&sort_by=primary_release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    movies_2011.append(movies['results'])


movies = []
for row in movies_2011:
    for r in row:
       movies.append(r)
movies_2011_df=pd.DataFrame(movies)

movies_2011_df.to_csv("movies_2011.csv")

In [ ]:
s

In [ ]:
movies_2012 = []
for page in range(1,50):
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&primary_release_date.gte=2012-01-01&vote_count.gte=100&primary_release_date.lte=2012-12-31&sort_by=primary_release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    movies_2012.append(movies['results'])


movies = []
for row in movies_2012:
    for r in row:
       movies.append(r)
movies_2012_df=pd.DataFrame(movies)

movies_2012_df.tail()
movies_2012_df.info()   # 477 entries

#movies_2012_df.to_csv("movies_2012.csv")

In [ ]:
movies_2013 = []
for page in range(1,50):
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&primary_release_date.gte=2013-01-01&vote_count.gte=100&primary_release_date.lte=2013-12-31&sort_by=primary_release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    movies_2013.append(movies['results'])


movies = []
for row in movies_2013:
    for r in row:
       movies.append(r)
movies_2013_df=pd.DataFrame(movies)

movies_2013_df.tail()
movies_2013_df.info()   #569 entries

#movies_2013_df.to_csv("movies_2013.csv")

In [13]:
movies_2014 = []
for page in range(1,50):
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&primary_release_date.gte=2014-01-01&vote_count.gte=100&primary_release_date.lte=2014-12-31&sort_by=primary_release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    movies_2014.append(movies['results'])


movies = []
for row in movies_2014:
    for r in row:
       movies.append(r)
movies_2014_df=pd.DataFrame(movies)

#movies_2014_df.tail()
#movies_2014_df.info()       #628 entries
movies_2014_df.to_csv("movies_2014.csv")

In [ ]:
movies_2015 = []
for page in range(1,50):
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&primary_release_date.gte=2015-01-01&vote_count.gte=100&primary_release_date.lte=2015-12-31&sort_by=primary_release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    movies_2015.append(movies['results'])


movies = []
for row in movies_2015:
    for r in row:
       movies.append(r)
movies_2015_df=pd.DataFrame(movies)

movies_2015_df.tail()
movies_2015_df.info()      #626 entries 
movies_2015_df.to_csv("movies_2015.csv")

In [ ]:
movies_2016 = []
for page in range(1,50):
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&primary_release_date.gte=2016-01-01&vote_count.gte=100&primary_release_date.lte=2016-12-31&sort_by=primary_release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    movies_2016.append(movies['results'])


movies = []
for row in movies_2016:
    for r in row:
       movies.append(r)
movies_2016_df=pd.DataFrame(movies)

movies_2016_df.tail()
movies_2016_df.info()      #671 entries
movies_2016_df.to_csv("movies_2016.csv")

In [ ]:
movies_2017 = []
for page in range(1,50):
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&primary_release_date.gte=2017-01-01&vote_count.gte=100&primary_release_date.lte=2017-12-31&sort_by=primary_release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    movies_2017.append(movies['results'])


movies = []
for row in movies_2017:
    for r in row:
       movies.append(r)
movies_2017_df=pd.DataFrame(movies)

movies_2017_df.tail()
movies_2017_df.info()      #717 entries
movies_2017_df.to_csv("movies_2017.csv")

In [ ]:
movies_2018 = []
for page in range(1,50):
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&primary_release_date.gte=2018-01-01&vote_count.gte=100&primary_release_date.lte=2018-12-31&sort_by=primary_release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    movies_2018.append(movies['results'])


movies = []
for row in movies_2018:
    for r in row:
       movies.append(r)
movies_2018_df=pd.DataFrame(movies)

movies_2018_df.tail()
movies_2018_df.info()     # 705 entries
movies_2018_df.to_csv("movies_2018.csv")

In [ ]:
movies_2019 = []
for page in range(1,50):
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&primary_release_date.gte=2019-01-01&vote_count.gte=100&primary_release_date.lte=2019-12-31&sort_by=primary_release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    movies_2019.append(movies['results'])


movies = []
for row in movies_2019:
    for r in row:
       movies.append(r)
movies_2019_df=pd.DataFrame(movies)

movies_2019_df.tail()
movies_2019_df.info()    #705 entries
movies_2019_df.to_csv("movies_2019.csv")

In [ ]:
movies_2020 = []
for page in range(1,50):
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&primary_release_date.gte=2020-01-01&vote_count.gte=100&primary_release_date.lte=2020-12-31&sort_by=primary_release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    movies_2020.append(movies['results'])


movies = []
for row in movies_2020:
    for r in row:
       movies.append(r)
movies_2020_df=pd.DataFrame(movies)

movies_2020_df.tail()
movies_2020_df.info()    #458 entries
movies_2020_df.to_csv("movies_2020.csv")

In [ ]:
movies_2021 = []
for page in range(1,50):
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&primary_release_date.gte=2021-01-01&vote_count.gte=100&primary_release_date.lte=2021-12-31&sort_by=primary_release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    movies_2021.append(movies['results'])


movies = []
for row in movies_2021:
    for r in row:
       movies.append(r)
movies_2021_df=pd.DataFrame(movies)

movies_2021_df.tail()
movies_2021_df.info()   #270 entries
movies_2021_df.to_csv("movies_2021.csv")

In [41]:
movies_since2010 = []
for page in range(1,1000):
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&primary_release_date.gte=2010-01-01&vote_count.gte=100&primary_release_date.lte=2021-12-31&sort_by=primary_release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    movies_since2010.append(movies['results'])


movies = []
for row in movies_since2010:
    for r in row:
       movies.append(r)
movies_since2010_df=pd.DataFrame(movies)

#movies_since2010_df.to_csv("movies_since2010.csv")

In [38]:
import pymysql

movies_since2010 = pd.read_csv(r'C:\team3_data\project-team3-data\movies_since2010.csv')
movies_since2010_df = pd.DataFrame(movies_since2010, 
                                   columns=['movie_id', 
                                            'title',
                                            'subtitle', 
                                            'original_language', 
                                            'vote_average', 
                                            'vote_count'
                                            'overview'
                                            'release_date'
                                            'genre_id'
                                            'upcoming'
                                            'top_rated'
                                            'popular'
                                            'now_playing'])

conn = pymysql.connect(host="localhost",
                       database="finalteam3",
                       user="kdigital",
                       password="mysql",
                       charset="utf8")
cursor = conn.cursor(pymysql.cursors.DictCursor)

for row in movies_since2010_df:
    cursor.execute("INSERT INTO movie(")

conn.commit()

In [ ]:
upcoming_movies = []
for page in range(1,50):
    url="https://api.themoviedb.org/3/discover/movie/?api_key={0}&language=ko-KR&release_date.gte=2021-12-01&sort_by=release_date.asc&page={1}".format('5ecfbcb3280f5e9f7898c3ca00acca81',page) 
    response = requests.get(url)
    movies= json.loads(response.content)
    upcoming_movies.append(movies['results'])


movies = []
for row in upcoming_movies:
    for r in row:
       movies.append(r)
upcoming_movies_df=pd.DataFrame(movies)

upcoming_movies_df.head()
upcoming_movies_df.tail()
upcoming_movies_df.info()   #980 entries
upcoming_movies_df.to_csv("upcoming_movies.csv")