In [1]:
import pymysql
import pandas as pd
import os

In [2]:
files = os.listdir('../data-files/')
files

['tmdbmovielist(280000-289999).csv',
 'tmdbmovielist(630000-639999).csv',
 'tmdbmovielist(500000-509999).csv',
 'tmdbmovielist(380000-389999).csv',
 'tmdbmovielist(400000-409999).csv',
 'tmdbmovielist(730000-739999).csv',
 'tmdbmovielist(430000-439999).csv',
 'tmdbmovielist(15000-19999).csv',
 'tmdbmovielist(700000-709999).csv',
 'tmdbmovielist(600000-609999).csv',
 'tmdbmovielist(530000-539999).csv',
 'tmdbmovielist(20000-99999).csv',
 'tmdbmovielist(7000-7500).csv',
 'tmdbmovielist(660000-669999).csv',
 'tmdbmovielist(550000-559999).csv',
 '.DS_Store',
 'tmdbmovielist(450000-459999).csv',
 'tmdbmovielist(760000-769999).csv',
 'tmdbmovielist(10000-14999).csv',
 'tmdbmovielist(8000-9999).csv',
 'tmdbmovielist(460000-469999).csv',
 'tmdbmovielist(750000-759999).csv',
 'tmdbmovielist(1-6999).csv',
 'tmdbmovielist(650000-659999).csv',
 'tmdbmovielist(560000-569999).csv',
 'tmdbmovielist(670000-679999).csv',
 'tmdbmovielist(540000-549999).csv',
 'tmdbmovielist(7501-7999).csv',
 'tmdbmovielist(440000-449999).csv',
 'tmdbmovielist(100000-149999).csv',
 'tmdbmovielist(770000-779999).csv',
 'tmdbmovielist(470000-479999).csv',
 'tmdbmovielist(740000-749999).csv',
 'tmdbmovielist(300000-349999).csv',
 'tmdbmovielist(640000-649999).csv',
 'tmdbmovielist(570000-579999).csv',
 'tmdbmovielist(620000-629999).csv',
 'tmdbmovielist(510000-519999).csv',
 'tmdbmovielist(290000-299999).csv',
 'tmdbmovielist(410000-419999).csv',
 'tmdbmovielist(720000-729999).csv',
 'tmdbmovielist(390000-399999).csv',
 'tmdbmovielist(420000-429999).csv',
 'tmdbmovielist(710000-719999).csv',
 'tmdbmovielist(610000-619999).csv',
 'tmdbmovielist(520000-529999).csv',
 'tmdbmovielist(850000-859999).csv',
 'tmdbmovielist(200000-209999).csv',
 'tmdbmovielist(580000-589999).csv',
 'tmdbmovielist(480000-489999).csv',
 'tmdbmovielist(780000-789999).csv',
 'tmdbmovielist(680000-689999).csv',
 'tmdbmovielist(860000-869999).csv',
 'tmdbmovielist(230000-239999).csv',
 'tmdbmovielist(800000-809999).csv',
 'tmdbmovielist(250000-259999).csv',
 'tmdbmovielist(350000-359999).csv',
 'tmdbmovielist(360000-369999).csv',
 'tmdbmovielist(830000-839999).csv',
 'tmdbmovielist(260000-269999).csv',
 'tmdbmovielist(240000-249999).csv',
 'tmdbmovielist(810000-819999).csv',
 'tmdbmovielist(150000-199999).csv',
 'tmdbmovielist(370000-379999).csv',
 'tmdbmovielist(270000-279999).csv',
 'tmdbmovielist(820000-829999).csv',
 'tmdbmovielist(590000-599999).csv',
 'tmdbmovielist(210000-219999).csv',
 'tmdbmovielist(840000-849999).csv',
 'tmdbmovielist(490000-499999).csv',
 'tmdbmovielist(790000-799999).csv',
 'tmdbmovielist(220000-229999).csv',
 'tmdbmovielist(870000-879999).csv',
 'tmdbmovielist(690000-699999).csv']

In [290]:
import numpy as np

# 1. connect
conn = pymysql.connect(host="127.0.0.1", port=3306, db='finalteam3', user="kdigital", password="mysql", charset="utf8")

# 2. get command object
cursor = conn.cursor()

#cursor.execute("delete from movie") #ê¸°ì¡´ ë°ì´í„°ë¥¼ ì§€ìš¸ ë•Œ ì£¼ì„ì„ í’€ì–´ì£¼ì„¸ìš” 

error_list = []
movie3 = []
for file in files:
    # if file.find('tmdbmovielist') == 0 and file.find('100000-149999') == -1 and file.find('20000-99999') == -1:
    if file.find('tmdbmovielist') == 0:
        print(file)
        try:
            try :
                movies = pd.read_csv('../data-files/{0}'.format(file), encoding="utf-8")
            except:
                movies = pd.read_csv('../data-files/{0}'.format(file), encoding="utf-8", lineterminator='\n')

            movies.drop(movies.columns[0], axis=1, inplace=True)

            movies2 = movies[movies['status_message'].isna()] # ì •ã„±ìƒì ì¸ ì•„ì´ë“¤ë§Œ 

            movies2 = movies2.drop(["success","status_code","status_message"], axis=1)
            movie3.append(list(movies2.values))
            # movies2['original_language'] = movies2['original_language'].apply(lambda ol: ol if ol else '')
            movies2['overview'] = movies2['overview'].apply(lambda ov : ov if str(ov) != 'nan' else '')
            movies2['release_date'] = movies2['release_date'].apply(lambda ov : ov if str(ov) != 'nan' else '')
            movies2['poster_path'] = movies2['poster_path'].apply(lambda ov : ov if str(ov) != 'nan' else '')
            print(movies2.values.shape)
            # 3. execute command
            sql = """insert into movie (movie_id, title, subtitle, original_language, overview, popularity, release_date, vote_average, vote_count, posterpath) 
                    values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
            for movie in movies2.values:
                cursor.execute(sql, list(movie[list(np.array([9, 24, 12, 11, 13, 14, 18, 26, 27, 15]) - 3)]))
                
                

        except:
            error_list.append(movie[list(np.array([9, 24, 12, 11, 13, 14, 18, 26, 27, 15]) - 3)])

        # break

conn.commit() # confirm previous execution
# 4. close resource
cursor.close()
conn.close()

tmdbmovielist(280000-289999).csv
(8938, 25)
tmdbmovielist(630000-639999).csv
(8895, 25)
tmdbmovielist(500000-509999).csv
(8635, 25)
tmdbmovielist(380000-389999).csv
(8464, 25)
tmdbmovielist(400000-409999).csv
(8313, 25)
tmdbmovielist(730000-739999).csv
(8410, 25)
tmdbmovielist(430000-439999).csv
(8372, 25)
tmdbmovielist(15000-19999).csv
(3140, 25)
tmdbmovielist(700000-709999).csv
(8063, 25)
tmdbmovielist(600000-609999).csv
(8872, 25)
tmdbmovielist(530000-539999).csv
(8907, 25)
tmdbmovielist(20000-99999).csv
tmdbmovielist(7000-7500).csv
(118, 25)
tmdbmovielist(660000-669999).csv
(8482, 25)
tmdbmovielist(550000-559999).csv
(8860, 25)
tmdbmovielist(450000-459999).csv
(8627, 25)
tmdbmovielist(760000-769999).csv
(8460, 25)
tmdbmovielist(10000-14999).csv
(3820, 25)
tmdbmovielist(8000-9999).csv
(1214, 25)
tmdbmovielist(460000-469999).csv
(8359, 25)
tmdbmovielist(750000-759999).csv
(8455, 25)
tmdbmovielist(1-6999).csv
(3745, 25)
tmdbmovielist(650000-659999).csv
(8712, 25)
tmdbmovielist(560000-569999).csv
(8645, 25)
tmdbmovielist(670000-679999).csv
(9044, 25)
tmdbmovielist(540000-549999).csv
(8779, 25)
tmdbmovielist(7501-7999).csv
(73, 25)
tmdbmovielist(440000-449999).csv
(8516, 25)
tmdbmovielist(100000-149999).csv
(25978, 25)
tmdbmovielist(770000-779999).csv
(8501, 25)
tmdbmovielist(470000-479999).csv
(8697, 25)
tmdbmovielist(740000-749999).csv
(8498, 25)
tmdbmovielist(300000-349999).csv
(44271, 25)
tmdbmovielist(640000-649999).csv
(8850, 25)
tmdbmovielist(570000-579999).csv
(8609, 25)
tmdbmovielist(620000-629999).csv
(8846, 25)
tmdbmovielist(510000-519999).csv
(8799, 25)
tmdbmovielist(290000-299999).csv
(8904, 25)
tmdbmovielist(410000-419999).csv
(8455, 25)
tmdbmovielist(720000-729999).csv
(8352, 25)
tmdbmovielist(390000-399999).csv
(8576, 25)
tmdbmovielist(420000-429999).csv
(8497, 25)
tmdbmovielist(710000-719999).csv
(8370, 25)
tmdbmovielist(610000-619999).csv
(8822, 25)
tmdbmovielist(520000-529999).csv
(8565, 25)
tmdbmovielist(850000-859999).csv
(8773, 25)
tmdbmovielist(200000-209999).csv
(5071, 25)
tmdbmovielist(580000-589999).csv
(8685, 25)
tmdbmovielist(480000-489999).csv
(8629, 25)
tmdbmovielist(780000-789999).csv
(8389, 25)
tmdbmovielist(680000-689999).csv
(8543, 25)
tmdbmovielist(860000-869999).csv
(7198, 25)
tmdbmovielist(230000-239999).csv
(5869, 25)
tmdbmovielist(800000-809999).csv
(8539, 25)
tmdbmovielist(250000-259999).csv
(7378, 25)
tmdbmovielist(350000-359999).csv
(8724, 25)
tmdbmovielist(360000-369999).csv
(8567, 25)
tmdbmovielist(830000-839999).csv
(8772, 25)
tmdbmovielist(260000-269999).csv
(8534, 25)
tmdbmovielist(240000-249999).csv
(5132, 25)
tmdbmovielist(810000-819999).csv
(8721, 25)
tmdbmovielist(150000-199999).csv
(24720, 25)
tmdbmovielist(370000-379999).csv
(8313, 25)
tmdbmovielist(270000-279999).csv
(9003, 25)
tmdbmovielist(820000-829999).csv
(8410, 25)
tmdbmovielist(590000-599999).csv
(8739, 25)
tmdbmovielist(210000-219999).csv
(5172, 25)
tmdbmovielist(840000-849999).csv
(8702, 25)
tmdbmovielist(490000-499999).csv
(8430, 25)
tmdbmovielist(790000-799999).csv
(8537, 25)
tmdbmovielist(220000-229999).csv
(4829, 25)
tmdbmovielist(870000-879999).csv
(9036, 25)
tmdbmovielist(690000-699999).csv
(8263, 25)

In [291]:
a = []
for movie in movie3:
    for r in movie:
        a.append(r)

In [292]:
b = pd.DataFrame(a)

In [208]:
movies2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8263 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  8263 non-null   object
 1   backdrop_path          1816 non-null   object
 2   belongs_to_collection  67 non-null     object
 3   budget                 8263 non-null   float64
 4   genres                 8263 non-null   object
 5   homepage               941 non-null    object
 6   id                     8263 non-null   float64
 7   imdb_id                3612 non-null   object
 8   original_language      8263 non-null   object
 9   original_title         8263 non-null   object
 10  overview               8263 non-null   object
 11  popularity             8263 non-null   float64
 12  poster_path            8263 non-null   object
 13  production_companies   8263 non-null   object
 14  production_countries   8263 non-null   object
 15  release_date           8263 non-null   object
 16  revenue                8263 non-null   float64
 17  runtime                8263 non-null   float64
 18  spoken_languages       8263 non-null   object
 19  status                 8263 non-null   object
 20  tagline                38 non-null     object
 21  title                  8263 non-null   object
 22  video                  8263 non-null   object
 23  vote_average           8263 non-null   float64
 24  vote_count             8263 non-null   float64
dtypes: float64(7), object(18)
memory usage: 1.6+ MB

In [293]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630186 entries, 0 to 630185
Data columns (total 25 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       630158 non-null  object
 1   1       150102 non-null  object
 2   2       11995 non-null   object
 3   3       630157 non-null  object
 4   4       630155 non-null  object
 5   5       69801 non-null   object
 6   6       630156 non-null  object
 7   7       396414 non-null  object
 8   8       630157 non-null  object
 9   9       630130 non-null  object
 10  10      25238 non-null   object
 11  11      630119 non-null  object
 12  12      426255 non-null  object
 13  13      630119 non-null  object
 14  14      630088 non-null  object
 15  15      571778 non-null  object
 16  16      630088 non-null  object
 17  17      577000 non-null  float64
 18  18      630088 non-null  object
 19  19      630088 non-null  object
 20  20      8100 non-null    object
 21  21      630086 non-null  object
 22  22      630086 non-null  object
 23  23      630086 non-null  float64
 24  24      630086 non-null  float64
dtypes: float64(3), object(22)
memory usage: 120.2+ MB

In [284]:
b = b.dropna(subset=[10])

In [277]:
b = b.rename(columns={6:'id'})

In [278]:
b[b['id'] =='Flesh Hunter 10']
b.drop(index=236093, axis=0, inplace=True)
b[b['id'] =='Guldklockan']
b.drop(index=366750, axis=0, inplace=True)

In [279]:
b['id'] = b['id'].astype(float)

In [280]:
b = b.dropna(subset=['id'])

In [281]:
b.drop(index=54148, axis=0, inplace=True)

In [282]:
b.drop(index=621818, axis=0, inplace=True)
b.drop(index=621815, axis=0, inplace=True)

In [289]:
b

,0,1,2,3,4,5,id,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,False,NaN,NaN,0.0,"[{'id': 27, 'name': 'ê³µí¬'}, {'id': 9648, 'name'...",NaN,280000.0,tt2396436,en,Lemon Tree Passage,...,2014-08-25,0.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Lemon Tree Passage,False,4.1,75.0
1,False,NaN,NaN,0.0,"[{'id': 99, 'name': 'ë‹¤íë©˜í„°ë¦¬'}]",NaN,280001.0,tt0163823,en,The Second Gun,...,1973-10-07,0.0,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Second Gun,False,0.0,0.0
2,False,/bLI7uIY9Y1vDkx1Bt6Crn2NJELL.jpg,NaN,0.0,"[{'id': 53, 'name': 'ìŠ¤ë¦´ëŸ¬'}, {'id': 27, 'name':...",NaN,280002.0,tt2714380,en,The Remaining,...,2014-08-25,1169603.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,ë¦¬ë©”ì´ë‹,False,5.5,246.0
3,False,NaN,NaN,0.0,"[{'id': 16, 'name': 'ì• ë‹ˆë©”ì´ì…˜'}]",NaN,280003.0,tt0231466,cs,Diskjockey,...,1980-01-01,0.0,10.0,[],Released,NaN,Diskjockey,False,5.8,13.0
4,False,NaN,NaN,0.0,"[{'id': 18, 'name': 'ë“œë¼ë§ˆ'}, {'id': 10402, 'nam...",NaN,280004.0,tt0068662,en,The Great Waltz,...,1972-11-11,0.0,135.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Great Waltz,False,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630181,False,NaN,NaN,0.0,"[{'id': 35, 'name': 'ì½”ë¯¸ë””'}]",NaN,699995.0,tt0300432,cs,RoztrÅ¾enÃ© foto,...,1921-12-31,0.0,0.0,"[{'english_name': 'No Language', 'iso_639_1': ...",Released,NaN,RoztrÅ¾enÃ© foto,False,0.0,0.0
630182,False,NaN,NaN,0.0,[],https://www.yesterway.org/,699996.0,NaN,en,Yesterway,...,,0.0,107.0,[],Released,NaN,Yesterway,False,0.0,0.0
630183,False,NaN,NaN,0.0,[],NaN,699997.0,tt4420000,en,Kalopsia,...,2014-08-13,0.0,12.0,[],Released,NaN,Kalopsia,False,0.0,0.0
630184,False,NaN,NaN,0.0,[],NaN,699998.0,tt11872724,es,Poderoso Victoria,...,2021-10-05,0.0,0.0,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,NaN,Poderoso Victoria,False,5.0,1.0
630185,False,NaN,NaN,0.0,[],NaN,699999.0,tt0324364,fr,Is Dead - Portrait incomplet de Gertrude Stein,...,2000-03-11,0.0,47.0,[],Released,NaN,Is Dead - Portrait incomplet de Gertrude Stein,False,0.0,0.0

In [287]:
c =b[b[24]>10]

In [288]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36467 entries, 0 to 629829
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       36467 non-null  object
 1   1       31179 non-null  object
 2   2       4561 non-null   object
 3   3       36467 non-null  object
 4   4       36467 non-null  object
 5   5       9782 non-null   object
 6   id      36467 non-null  float64
 7   7       36155 non-null  object
 8   8       36467 non-null  object
 9   9       36467 non-null  object
 10  10      36467 non-null  object
 11  11      36467 non-null  object
 12  12      36467 non-null  object
 13  13      36467 non-null  object
 14  14      36467 non-null  object
 15  15      36467 non-null  object
 16  16      36467 non-null  object
 17  17      36416 non-null  float64
 18  18      36467 non-null  object
 19  19      36467 non-null  object
 20  20      5550 non-null   object
 21  21      36467 non-null  object
 22  22      36467 non-null  object
 23  23      36467 non-null  float64
 24  24      36467 non-null  float64
dtypes: float64(4), object(21)
memory usage: 7.2+ MB

In [239]:
c =c.dropna(subset=[1])

In [244]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31148 entries, 2 to 629829
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       31148 non-null  object
 1   1       31148 non-null  object
 2   2       4270 non-null   object
 3   3       31148 non-null  object
 4   4       31148 non-null  object
 5   5       8865 non-null   object
 6   id      31148 non-null  float64
 7   7       30982 non-null  object
 8   8       31148 non-null  object
 9   9       31148 non-null  object
 10  10      31148 non-null  object
 11  11      31148 non-null  object
 12  12      31148 non-null  object
 13  13      31148 non-null  object
 14  14      31148 non-null  object
 15  15      31148 non-null  object
 16  16      31148 non-null  object
 17  17      31148 non-null  float64
 18  18      31148 non-null  object
 19  19      31148 non-null  object
 20  20      5452 non-null   object
 21  21      31148 non-null  object
 22  22      31148 non-null  object
 23  23      31148 non-null  float64
 24  24      31148 non-null  float64
dtypes: float64(4), object(21)
memory usage: 6.2+ MB

In [243]:
c =c[c[17].notna()]

In [273]:
list(c[4].values).remove('[]')
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31148 entries, 2 to 629829
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       31148 non-null  object
 1   1       31148 non-null  object
 2   2       4270 non-null   object
 3   3       31148 non-null  object
 4   4       31148 non-null  object
 5   5       8865 non-null   object
 6   id      31148 non-null  float64
 7   7       30982 non-null  object
 8   8       31148 non-null  object
 9   9       31148 non-null  object
 10  10      31148 non-null  object
 11  11      31148 non-null  object
 12  12      31148 non-null  object
 13  13      31148 non-null  object
 14  14      31148 non-null  object
 15  15      31148 non-null  object
 16  16      31148 non-null  object
 17  17      31148 non-null  float64
 18  18      31148 non-null  object
 19  19      31148 non-null  object
 20  20      5452 non-null   object
 21  21      31148 non-null  object
 22  22      31148 non-null  object
 23  23      31148 non-null  float64
 24  24      31148 non-null  float64
dtypes: float64(4), object(21)
memory usage: 6.2+ MB

In [261]:
d = pd.DataFrame(c[['id',4]])
d.to_csv("d.csv", index=True, header=True)

In [5]:
print(len(error_list))
print(error_list)

18
[array([401065.0, nan, 'The Axe Murders of Villisca', 'en',
       '1912ë…„ 6ì›” 9ì¼ ë¯¸êµ­ ì•„ì´ì˜¤ì™€ ë‚¨ë¶€ ì§€ë°©ì— ìˆëŠ” ë¹Œë¦¬ìŠ¤ì¹´ ë§ˆì„ì—ì„œ 6ëª…ì´ ì‚´ë˜ ë¬´ì–´ê°€ì¡±ì˜ ì§‘ì—ì„œ ë‘ ëª…ì˜ ì†ë‹˜ì„ í¬í•¨í•œ ì „ì›ì´ ë„ë¼ë¡œ ë¬´ì°¸í•˜ê²Œ ë¨¸ë¦¬ë¥¼ ë§ê³  ì£½ì€ ì‹œì²´ë¡œ ë°œê²¬ë˜ëŠ” ì‚¬ê±´ì´ ë°œìƒí–ˆë‹¤. ê·¸ì¤‘ 6ëª…ì€ ì–´ë¦° ì•„ì´ë“¤ì´ì—ˆê¸°ì— ë”ìš± ë”ì°í•œ ì‚¬ê±´ìœ¼ë¡œ ê¸°ë¡ë˜ì—ˆë‹¤.',
       nan, '', nan, nan, ''], dtype=object), array([432991.0, nan, 'Demonios tus ojos', 'es',
       'ì˜í™” ê°ë…ì´ ë˜ì–´ ì˜¤ëœë§Œì— ê³ í–¥ ìŠ¤í˜ì¸ì— ëŒì•„ì˜¨ ì˜¬ë¦¬ë²„.', nan, '', nan, nan, ''],
      dtype=object), array([539999.0, 'El tÃºnel', 'El tÃºnel', 'es', '', 0.84, '1952-04-01',
       5.7, 3.0, '/ofnIXkmrz82XikZWtQR4dzy4XoF.jpg'], dtype=object), array([451751.0, nan, 'American Satan', 'en',
       'ì‰ê¸€ëœë“œ ì¶œì‹  ë°˜ê³¼ ë¯¸êµ­ ì¶œì‹  ë°˜ì˜ ì Šì€ ë¡ ë°´ë“œê°€ ëŒ€í•™ì„ ê·¸ë§Œë‘ê³  ì„ ì…‹ ìŠ¤íŠ¸ë¦½ìœ¼ë¡œ ì´ë™í•˜ì—¬ ê¿ˆì„ ì«“ëŠ”ë‹¤.', nan,
       '', nan, nan, ''], dtype=object), array([460962.0, nan, 'Alien Convergence', 'en',
       '3ê°œì˜ ìœ ì„±ì´ ì§€êµ¬ì— ì¶”ë½í•˜ê³  ê·¸ ì†ì˜ ì—ì´ë¦¬ì–¸ë“¤ì€ ì„œë¡œ ëª¸ì„ í•©ì¹˜ë©° ê±°ëŒ€í•œ ê´´ë¬¼ë¡œ ì§„í™”í•˜ì—¬ ë¯¸êµ­ì˜ ë„ì‹œë“¤ì„ ê³µê²©í•˜ê¸° ì‹œì‘í•œë‹¤. ì´‰ë§ ë°›ëŠ” ë¹„í–‰ì‚¬ì˜€ì§€ë§Œ ì‚¬ê³  ì´í›„ ìƒˆë¡œìš´ ë¹„í–‰ ê¸°ìˆ ì¸ ë‰´ë¡œ í”„ë¡œì íŠ¸ë¥¼ ì—°êµ¬í•´ì˜¨ ì— ë§ˆëŠ” ìì‹ ì˜ ê¸°ìˆ ì´ ê´´ë¬¼ì´ ë‚´ë¿œëŠ” ë‡Œ êµë€ ì£¼íŒŒìˆ˜ë¥¼ ë¬´íš¨í™”ì‹œí‚´ì„ ì•Œê²Œ ëœë‹¤. ì— ë§ˆì™€ ê·¸ë…€ì˜ íŒ€ì€ ê³µêµ°ì˜ ì§€ì›ì„ ë°›ì•„ ì „ë¡€ ì—†ëŠ” ì „íˆ¬ë¥¼ ì¤€ë¹„í•˜ëŠ”ë°â€¦',
       nan, '', nan, nan, ''], dtype=object), array([441701.0, nan, 'VerÃ³nica', 'es',
       'ì¼ì‹ì´ ì¼ì–´ë‚˜ëŠ” ì–´ëŠ ë‚  ë² ë¡œë‹ˆì¹´ëŠ” ì¹œêµ¬ë“¤ê³¼ í•¨ê»˜ ì£½ì€ ì•„ë²„ì§€ì˜ ì˜í˜¼ì„ ë¶ˆëŸ¬ë‚´ê¸° ìœ„í•´ ìœ„ìë³´ë“œ ê²Œì„ì„ í•˜ê²Œ ëœë‹¤. ì¼ì‹ì´ ìµœê³ ì¡°ì¼ ë•Œ ìœ ë¦¬ê°€ ì‚°ì‚°ì¡°ê°ì´ ë‚˜ê³  ì ë“¤ì–´ ìˆë˜ ì•…ë ¹ì´ ê¹¨ì–´ë‚œë‹¤.',
       nan, '', nan, nan, ''], dtype=object), array([101006.0, 'ë¦¬ë²„í’€', 'Liverpool', 'es',
       'ê°œì¸ì ì¸ ì—¬ì •ì„ ê³ ìš”í•˜ê²Œ ë‹´ì€ ì˜í™”. ë°°ê°€ ì•„ë¥´í—¨í‹°ë‚˜ ìµœë‚¨ë‹¨ ì§€ì ì— ì •ë°•í•˜ì, ì„ ì›ì¸ íŒ¨ëŸ´ì€ ì–´ë¨¸ë‹ˆì˜ ìƒì‚¬ë¥¼ í™•ì¸í•˜ë ¤ê³  20ë…„ë§Œì— ê³ í–¥ì„ ë°©ë¬¸í•œë‹¤. íŒ¨ëŸ´ì€ ìˆ ì„ ë§ˆì‹œë©´ì„œ ì‹œê°„ì„ ë³´ë‚´ë‹¤ ì§‘ì— ë„ì°©í•œë‹¤. í•˜ì§€ë§Œ 20ë…„ ë§Œì— ëŒì•„ì˜¨ ì§‘ì—ì„œ ë…¸í™˜ìœ¼ë¡œ ëˆ„ìš´ ì–´ë¨¸ë‹ˆë¥¼ ë§Œë‚˜ëŠ” ê¸°ì¨ë„ ì ì‹œ, íŒ¨ëŸ´ì€ ì˜ˆìƒì¹˜ë„ ëª»í–ˆë˜ ê°€ì¡±ì˜ ë¹„ë°€ì„ ì•Œê²Œ ëœë‹¤.\U00100003ë¦¬ì‚°ë“œë¡œ ì•Œë¡ ì†Œ ê°ë…ì€ ì „í†µì ì¸ ê´€ì°° ë°©ì‹ìœ¼ë¡œ íŒ¨ëŸ´ì˜ ë¬´ì‹¬í•¨ì„ ê´€ì°°í•œë‹¤. ì¹´ë©”ë¼ê°€ ë‹´ì€ íŒ¨ëŸ´ì˜ ì‚¶ì€ ì§€ë£¨í•˜ê³ , ê·¸ëŠ” ë‚¨ê²¨ë‘ê³  ì˜¨ ì‚¬ëŒë“¤ì— ëŒ€í•´ ë¬´é‚„ï¼Ÿæ±‚? ì•„ë¥´í—¨í‹°ë‚˜ì˜ ì„¤ì›ì„ ìµìŠ¤íŠ¸ë¦¼ ë¡±ìƒ·ìœ¼ë¡œ ë‹´ì€ ì¥ë©´ì—ì„œ íŒ¨ëŸ´ì˜ ì¹¨ë¬µê³¼ ëŠë¦¿í•œ ê±¸ìŒê±¸ì´ëŠ” ì˜í™”ì˜ ì°¨ê°€ìš´ ê¸°ìš´ê³¼ ì–´ìš¸ë¦°ë‹¤. ì‹œì¢…ì¼ê´€ ì •ì ìœ¼ë¡œ ì›€ì§ì´ëŠ” ì¹´ë©”ë¼ëŠ” íŒ¨ëŸ´ì˜ ì‚¶ë¿ë§Œ ì•„ë‹ˆë¼ ìš°ë¦¬ì˜ ì‚¶ì´ ë” ë‚˜ì•„ê°ˆ ê³³ì´ ì—†ë‹¤ëŠ” ê²ƒì„ ë³´ì—¬ì¤€ë‹¤. ì„œì„œíˆ ë¹„ê·¹ì„ ì „ê°œí•˜ë©´ì„œ, íŒ¨ëŸ´ì´ ê³ ë‡Œí•˜ëŠ” ìˆœê°„ë§ˆë‹¤ ë¯¸ì„¸í•œ ê°ì •ì„ ì¡ì•„ë‚´ëŠ” ì—°ì¶œë ¥ì´ ë‹ë³´ì´ëŠ” ì‘í’ˆì´ë‹¤.',
       1.481, '2008-10-30', 6.7, 24.0, '/r5vQhOvIpjBHJxciXvR9B9dPC7d.jpg'],
      dtype=object), array(['470205.0', nan, 'The Stray', 'en',
       'í•œ ì Šì€ ì•„ë²„ì§€ê°€ ê·¸ì˜ ì•„í™‰ì‚´ ë‚œ ì•„ë“¤ê³¼ ì• ì™„ê²¬ê³¼ ë‘ëª…ì˜ ì•„ë“¤ ì¹œêµ¬ë“¤ì„ ë°ë¦¬ê³  ì½œë¡œë¼ë„ ì‚°ìœ¼ë¡œ ë°°ë‚­ ì—¬í–‰ì„ ê°”ë‹¤ê°€ ë‹¤ì„¯ëª… ëª¨ë‘ê°€ ë²ˆê°œë¥¼ ë§ê²Œ í•œë‹¤.',
       nan, '', nan, nan, ''], dtype=object), array([411996.0, nan, 'Measure of a Man', 'en', 'ì†Œë…„ì´ ì²­ë…„ì´ ë˜ëŠ” ì–´ëŠ ì—¬ë¦„ì˜ ì´ì•¼ê¸°',
       nan, '', nan, nan, ''], dtype=object), array(['423536.0', nan, 'Ghosts of Darkness', 'en',
       'ì–´ëŠ ì €íƒì˜ ì£¼ì¸ìœ¼ë¡œ ë³´ì´ëŠ” ì˜ë¬¸ì˜ ë‚¨ìê°€ ì´ˆìì—° í˜„ìƒì„ ì—°êµ¬í•˜ëŠ” ë‘ ë‚¨ì ì­(ë§ˆì´í´ ì½œí‹°ìŠ¤)ê³¼ ì¡°ë‚˜ë‹¨(í´ í”Œë˜ë„ˆë¦¬)ì„ ì§‘ìœ¼ë¡œ ë¶ˆëŸ¬ë“¤ì¸ë‹¤. ë‚¨ìì˜ ì œì•ˆì€ ê·¸ ì§‘ì„ ë‚˜ê°€ì§€ ì•Šê³  36ì‹œê°„ì„ ë³´ë‚´ë©´ ê°ìì—ê²Œ ì„ ê¸ˆ 2ë§Œ5ì²œ ë‹¬ëŸ¬ë¥¼ í¬í•¨í•´ 5ë§Œ ë‹¬ëŸ¬ë¥¼ ì£¼ê² ë‹¤ëŠ” ê²ƒ.  ë‚¨ìì˜ ì œì•ˆì„ ë°›ì•„ë“¤ì¸ ì­ê³¼ ì¡°ë‚˜ë‹¨ì€ íœ´ëŒ€ì „í™”ì™€ ìë™ì°¨ ì—´ì‡ ë¥¼ ê·¸ì—ê²Œ ë„˜ê²¨ì¤€ ì±„ ê·¸ ì§‘ì—ì„œ ì‚¬í˜ì„ ë³´ë‚¼ ì±„ë¹„ë¥¼ í•œë‹¤. ì­ê³¼ ì¡°ë‚˜ë‹¨ì€ ëª¨ë‘ ì´ˆìì—° í˜„ìƒì„ ì—°êµ¬í•˜ê¸´ í•˜ì§€ë§Œ ì­ì€ ëŒ€ë¶€ë¶„ì´ ì‚¬ê¸°ë¼ê³  ìƒê°í•˜ëŠ” ëƒ‰ì†Œì£¼ì˜ìê³  ì¡°ë‚˜ë‹¨ì€ ê°€ë²¼ìš´ ì„±ê²©ì„ ê°€ì§„ ì‹¬ë ¹ìˆ ì‚¬ë‹¤.  ë‘ ì‚¬ëŒì˜ ë™ê±°ëŠ” ì¼ë©´ ë¬¼ê³¼ ê¸°ë¦„ ê°™ì§€ë§Œ ê³§ í˜‘ë ¥ë§Œì´ ì‚´ ê¸¸ì´ë¼ëŠ” ì‚¬ì‹¤ì´ ë“œëŸ¬ë‚œë‹¤. ê·¸ ì§‘ì€ ì´ì‚¬ ì˜¤ëŠ” ê°€ì¡±ë§ˆë‹¤ ì£½ì–´ì„œ ë‚˜ê°€ëŠ” 100ë…„ì˜ ë¯¸ìŠ¤í„°ë¦¬ê°€ ìŒ“ì¸ ê³³ì´ë‹¤.',
       nan, '', nan, nan, ''], dtype=object), array([485470.0, nan, 'ì°©í•œ í˜•ìˆ˜2', 'ko', 'í•œë²ˆ ì£¼ë©´ ì•„ë‚Œì—†ì´ ë‹¤ ì£¼ëŠ” ì°©í•œ í˜•ìˆ˜ê°€ ì˜¨ë‹¤!', nan,
       '', nan, nan, ''], dtype=object), array([830334.0, 'A ğŸ¤° da Cinemateca', 'A ğŸ¤° da Cinemateca', 'pt', '', 0.6,
       '2016-03-03', 0.0, 0.0, '/nMqtLYWaItiHoatDfYZxB1h3sib.jpg'],
      dtype=object), array([819411.0, nan, nan, 'en', '', 0.6, '', 0.0, 0.0, ''], dtype=object), array([276521.0, nan, nan, 'en', '', 0.6, '2014-06-13', 0.0, 0.0, ''],
      dtype=object), array([829927.0, 'BACKSTAGE SPORTING | SOMOS CAMPEÃ•ES! ğŸ†',
       'BACKSTAGE SPORTING | SOMOS CAMPEÃ•ES! ğŸ†', 'pt', '', 0.6, '', 0.0,
       0.0, ''], dtype=object), array([490379.0, nan, 'ã—ã‚ƒã¼ã‚“ç‰', 'ja',
       'ë¶€ëª¨ì—ê²Œ ë²„ë¦¼ë°›ì€ ì´ì¦ˆë¯¸ëŠ” ì—¬ì„±ê³¼ ë…¸ì¸ì„ í­í–‰í•˜ê³  ê°•ë„ì§“ì„ ë°˜ë³µí•˜ë‹¤ê°€ ì‚°ì†ì— ì“°ëŸ¬ì§„ ë…¸ë¶€ì¸ì„ ë„ìš´ ì¸ì—°ìœ¼ë¡œ ê·¸ë…€ì˜ ì§‘ì— ì‹ê°ìœ¼ë¡œ ë¨¸ë¬¸ë‹¤. ëˆì„ í›”ì³ ë„ë§ì¹  ê¸°íšŒë¥¼ ë…¸ë¦¬ë˜ ì´ì¦ˆë¯¸ëŠ” ë…¸ë¶€ì¸ì„ ê´´ë¡­íˆëŠ” ì†ìì™€ ë¶€ë”ªíˆëŠ”ë°â€¦. ê°€ì¡±ì˜ ì‚¬ë‘ì„ ë˜ì°¾ëŠ” ë…¸ë‚˜ë¯¸ ì•„ì‚¬ì˜ ë™ëª… ì†Œì„¤ì´ ì›ì‘.',
       nan, '', nan, nan, ''], dtype=object), array([872707.0, "Summertime' ğŸ˜ğŸ–", "Summertime' ğŸ˜ğŸ–", 'th', '', 0.6,
       '2021-07-31', 0.0, 0.0, '/emdQJdW3wsi73PclA9nx4J0V4z.jpg'],
      dtype=object), array([690494.0, 'é»ƒå­è¯æ£Ÿç¯¤ç¬‘ç³»åˆ—çš„ç¬¬15è¼¯ï¼šé‡‘ç›†ğ º˜å£', 'é»ƒå­è¯æ£Ÿç¯¤ç¬‘ç³»åˆ—çš„ç¬¬15è¼¯ï¼šé‡‘ç›†ğ º˜å£', 'cn', '',
       0.6, '2018-07-06', 0.0, 0.0, '/3KCY7r5scwxHTQO8IJClUjzVYR.jpg'],
      dtype=object)]

In [43]:
# 1. connect
conn = pymysql.connect(host="127.0.0.1", port=3306, db='finalteam3', user="kdigital", password="mysql", charset="utf8")

# 2. get command object
cursor = conn.cursor()

# 3. execute command
sql = "select * from movie"
cursor.execute(sql)
    
    # break

conn.commit() # confirm previous execution

# 4. close resource
cursor.close()
conn.close()

In [44]:
movies = []
while True:
    movies.append(cursor.fetchone())
    
    if len(movies)==10:
        break

In [45]:
movies

[(2,
  'ì•„ë¦¬ì—˜',
  'Ariel',
  'fi',
  'ì£¼ì¸ê³µ ì¹´ìŠ¤ë¦¬ë„¨ì€ ê´‘ë¶€ë‹¤. ì¼í•˜ë˜ íƒ„ê´‘ì´ íê´‘ì´ ë˜ë©° ë„ì‚°ì„ í•˜ê³  ì‚¬ì¥ì€ ìœ ì¼í•˜ê²Œ ë‚¨ì€ ê²ƒì€ ê¶Œì´ê³¼ ìŠ¹ìš©ì°¨ í•œëŒ€. ì°¨ í‚¤ë¥¼ ì¹´ìŠ¤ë¦¬ë„¨ì—ê²Œ ì£¼ê³  ìì‹ ì€ ê¶Œì½©ìœ¼ë¡œ ìì‚´ì„ í•œë‹¤. ì‹¤ì—…ìê°€ ë˜ì–´ ë‹¬ë‘ ì°¨ í•œ ëŒ€ë§Œ ëŒê³  ë„ì‹œë¡œ ì˜¨ ê·¸ëŠ” ì£¼ì°¨ ë‹¨ì†ì„ í•˜ë˜ í•„ë¼ì•¼ì™€ ë„ˆë¬´ ì‰½ê²Œ ì ì„ ìê³  ê³§ ë™ê±°ë¥¼ ì‹œì‘í•˜ëŠ”ë° ê·¸ë“¤ì˜ í•„ìš” ì¶©ë¶„ ì¡°ê±´ì€ ì‚¬ë‘ë¿ ì´ì—ˆì„ ë¿ì´ë‹¤. ê·¸ë…€ì—ê² ë”¸ë¦° ì•„ë“¤ë„ ìˆë‹¤. ê°€ì§„ ê²ƒ ì—†ê³  ì‚¬ë‘ë§Œ ìˆëŠ” ì´ë“¤ ì•ì—” ì—­ê²½ë§Œ ë‹¥ì³ì˜¤ê³  ê²°êµ­ ê°–ì€ ìš°ì—¬ê³¡ì ˆ ëì— ê·¸ë“¤ì€ í˜„ì‹¤ì„ ë„í”¼í•´ ë°€í•­ì„ ì„ íƒ€ê³  ê¿ˆì˜ ë•… ì•„ë¦¬ì—˜ë¡œ ë– ë‚œë‹¤.',
  9,
  '1988-10-21',
  6.9,
  150,
  '/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg'),
 (3,
  'ì²œêµ­ì˜ ê·¸ë¦¼ì',
  'Varjoja paratiisissa',
  'fi',
  'ì²« ì¥ë©´ë¶€í„° ì²­ì†Œì°¨ê°€ ìƒˆë²½ì„ ê°€ë¥¸ë‹¤. ì²­ì†Œë¶€ëŠ” ì œê°ê¸° ì •í•´ì§„ êµ¬ì—­ì—ì„œ ìµìˆ™í•˜ê²Œ ì“°ë ˆê¸°ë¥¼ ì²˜ë¦¬í•œë‹¤. ì²­ì†Œë¶€ ë‹ˆì¹¸ë”(Nikander)ì˜ ì¼ìƒì´ í”¼ì•„ë…¸ì„ ìœ¨ì— ë”°ë¼ ì”ì”íˆ, ì‚¬ë­‡ ì—„ìˆ™í•˜ê²Œ í¼ì³ì§„ë‹¤.  ì´ ì‘í’ˆì€ ì²­ì†Œë¶€ ë‹ˆì¹¸ë”(Nikander) ê°€ ë‹¤ì¹œ ì†ëª©ì„ ê³„ê¸°ë¡œ ìŠˆí¼ë§ˆì¼“ ê³„ì‚°ëŒ€ ì•„ê°€ì”¨ ì¼ë¡œë‚˜(Ilona)ì™€ì˜ ë§Œë‚¨ì„ ê°–ê²Œ ë˜ë©´ì„œ ì‹œì‘ëœë‹¤. ê°€ë‚œí•˜ê³  ì†Œì™¸ ë°›ëŠ” ì´ë“¤ì˜ ì‚¶ê³¼ ì‚¬ë‘ì— ì´ˆì ì´ ë§ì¶°ì ¸ ìˆë‹¤. ê·¸ë“¤ì€ ì‚¬ë‘ì˜ ê°ì •ì¡°ì°¨ ì–µëˆ„ë¥¸ ì±„ ë„ˆë¬´ë„ ì†Œê·¹ì ì¸ ëª¨ìŠµìœ¼ë¡œ ì¼ê´€í•œë‹¤. ê°€ë‚œì— ì§“ëˆŒë¦° ê·¸ë“¤ì´ ì—®ëŠ” ì†Œì‹¬í•œ ì‚¬ë‘ì€ ì–´ë‘ ê³¼ í•¨ê»˜ ì‹œì‘í•˜ê³  ë‚´ë‚´ ì–´ë‘ ì—ë§Œ ë¨¸ë¬¼ëŸ¬ ìˆë‹¤. ê·¸ëŸ´ë“¯í•œ ì‹ë‹¹ì—ì„œë„ í˜¸í…”ì˜ˆì„œë„ ì‹¬ì§€ì–´ ì§ì¥ì—ì„œì¡°ì°¨ ì´ë“¤ì€ ëƒ‰ëŒ€ ë°›ëŠ”ë‹¤. ìµìˆ™í•´ì§„ ì‚¬íšŒì˜ ë©¸ì‹œ ì†ì—ì„œ ì†Œë°•í•œ ë‘ ì‚¬ëŒì˜ ì‚¬ë‘ì€ ì˜¤íˆë ¤ ì†Œì¤‘í•œ ê°€ì¹˜ë¥¼ ì§€ë‹Œë‹¤. ì²œêµ­ì˜ ê·¸ë¦¼ìê°€ í™”ë ¤í•œ ë„ì‹œì˜ ê·¸ëŠ˜ì— ê°€ë ¤ì§„, ë°”ë¡œ ê·¸ ì–´ë‘ ì„ ìƒì§•í•œë‹¤ë©´ ì—­ì„¤ì ì´ê²Œë„ ê·¸ ì–´ë‘ ì„ ê±·ëŠ” ìì˜ ì‚¶ì€ ëˆ„ì¶”í•˜ê³  ê³ ì í•˜ê¸°ë§Œ í•˜ë‹¤.',
  7,
  '1986-10-17',
  7.2,
  149,
  '/o2cWCX48flnEgDwSWu0Gpia0i0N.jpg'),
 (5,
  'í¬ë£¸',
  'Four Rooms',
  'en',
  'ìƒˆí•´ ì „ë‚  ë°¤, LA ëª½ì‹œë‡° í˜¸í…”ì—ì„œ ì²«ê·¼ë¬´ë¥¼ í•˜ê²Œ ëœ ê´´ì§œ ë²¨ë³´ì´ í…Œë“œëŠ” ìƒìƒì¡°ì°¨ í•  ìˆ˜ ì—†ëŠ” ìµœì•…ì˜ ë°¤ì„ ë§ì´í•œë‹¤. í—ˆë‹ˆë¬¸ ìŠ¤ìœ„íŠ¸ë£¸ì— íˆ¬ìˆ™í•œ ë§ˆë…€ë“¤ì˜ ë¶€í™œì˜ì‹ì— ì•¼ë¦‡í•œ ì œë¬¼ë¡œ ê±¸ë ¤ë“œëŠ”ê°€ í•˜ë©´, ì–¼ìŒ ë°°ë‹¬ì°¨ ë“¤ë¥¸ ë£¸ 404í˜¸ì˜ ì•…ë‹¹ ì§€ê·¸í”„ë¦¬ë“œëŠ” ì•„ë‚´ì˜ ì •ë¶€ë¼ê³  ì˜¤í•´ë¥¼ í•œë‹¤. 5ë°± ë‹¬ëŸ¬ë¥¼ ë°›ê³  ëŒë´ì£¼ê¸°ë¡œ í•œ ë£¸ 309í˜¸ ê°±ìŠ¤í„° ë¶€ë¶€ì˜ ê¼¬ë§ˆ ì•…ë™ë“¤ì€ ì‹œëŒë²…ì í•œ ì†Œë€ì„ ë²Œì´ë©° ë°© í•œ ì¹¸ì„ í™€ë¼ë‹¹ ë‚ ë ¤ë²„ë¦°ë‹¤. ë§ˆì§€ë§‰ íœíŠ¸í•˜ìš°ìŠ¤ íŠ¹ì‹¤ ë£¸ì—ëŠ” í• ë¦¬ìš°ë“œ ìµœê³ ì˜ ì½”ë¯¸ë””ì–¸ ì²´ìŠ¤í„° ëŸ¬ì‰¬ì™€ ê·¸ì˜ ì¹œêµ¬ë“¤ì´ ë²Œì´ëŠ” ì”ì¸í•œ ë‚´ê¸°ì— ì—‰ê²ê²°ì— ë¼ì–´ë“¤ê²Œ ëœ í…Œë“œëŠ” í”¼í•  ìˆ˜ ì—†ëŠ” í¬ìƒì–‘ì´ ë  íŒì´ ëœë‹¤.',
  12,
  '1995-12-09',
  5.7,
  2035,
  '/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg'),
 (6,
  'í‚¬ëŸ¬ ë‚˜ì´íŠ¸',
  'Judgment Night',
  'en',
  'ì–´ëŠë‚  í”„ë­í¬(Frank Wyatt: ì—ë°€ë¦¬ì˜¤ ì—ìŠ¤í…Œë² ì¦ˆ ë¶„)ì™€ ë§ˆì´í¬(Mike Peterson: ì¿ ë°” êµ¬ë”© ì£¼ë‹ˆì–´ ë¶„), ê·¸ë¦¬ê³  ë ˆì´(Ray Cochran: ì œë ˆë¯¸ í”¼ë²ˆ ë¶„)ì™€ í”„ë­í¬ì˜ ë™ìƒ ì¡´(John Wyatt: ìŠ¤í‹°ë¸ ë„í”„ ë¶„)ì€ ê¶Œíˆ¬ì‹œí•©ì„ êµ¬ê²½í•˜ê¸° ìœ„í•´ ë ˆì´ê°€ ë¹Œë¦° ì´ë™ì£¼íƒì°¨ë¥¼ ëª°ê³  ì‹œí•©ì¥ìœ¼ë¡œ ê°„ë‹¤. ê·¸ëŸ¬ë‚˜ ê½‰ ë§‰íŒ êµí†µì— ì§€ì¹œ ë ˆì´ëŠ” ì§€ë¦„ê¸¸ë¡œ ê°„ë‹¤ë©° ë¹ˆë¯¼ê°€ë¡œ ë“¤ì–´ê°„ë‹¤. ê¸´ì¥í–ˆë˜ íƒ“ì— ê·¸ë“¤ì€ ì°¨ì˜†ì— ì“°ëŸ¬ì ¸ ìˆëŠ” ì‚¬ëŒì„ ìì‹ ë“¤ì´ ì¹œì¤„ ì•Œê³  ì°¨ì•ˆìœ¼ë¡œ ëŒì–´ë“¤ì¸ë‹¤. ê·¸ë¦¬ê³  ê·¸ ë‚¨ìê°€ ì´ìƒì„ ì…ì€ ê²ƒì„ ë³´ê³  ë†€ë€ë‹¤. ê°‘ìê¸° ë‚˜íƒ€ë‚œ í•„ë¡ (Fallon: ë°ë‹ˆìŠ¤ ë ˆë¦¬ ë¶„)ì´ë€ ì•…ë‹¹ë“¤ì€ ì´ìƒì„ ì…ì€ ì‚¬ëŒì´ í•„ë¡ ìœ¼ë¡œë¶€í„° ëˆì„ í›”ì³¤ë‹¤ë©° ê·¸ ìë¦¬ì—ì„œ ê·¸ë¥¼ ì£½ì¸ë‹¤. ì´ë¥¼ ëª©ê²©í•œ í”„ë­í¬ì™€ ì¹œêµ¬ë“¤ì€ ì¦ì¸ë§ˆì € ì—†ì• ë ¤ ë“œëŠ” ê·¸ë“¤ì—ê²Œì„œ ë„ë§ì¹œë‹¤. ê·¸ëŸ¬ë‚˜ ì „í™”ì¡°ì°¨ ì—†ê³  ë„ì™€ì£¼ëŠ” ì´ ì¡°ì°¨ ì—†ëŠ” ê·¸ë“¤ì—ê²Œ ìƒí™©ì€ ì ì  ì•…í™”ë˜ì–´ ê°„ë‹¤. ê°€ê¹ŒìŠ¤ë¡œ ë„ì›€ì„ ë°›ì•„ ê²½ì°°ì— ì „í™”ë¥¼ ê±¸ì§€ë§Œ ê²½ì°°ì€ ì˜¤ì§€ ì•Šê³  ë ˆì´ëŠ” ì•…ë‹¹ë“¤ì˜ ì†ì— ì£½ê³  ë§Œë‹¤. ìŠˆí¼ë§ˆì¼“ì„ ë°œê²¬í•œ ê·¸ë“¤ì€ ê²½ì°°ì„ ì˜¤ê²Œ í•˜ë ¤ê³  ì¼ë¶€ëŸ¬ ìœ ë¦¬ì°½ì„ ê¹¨ì§€ë§Œ ê·¸ê³³ê¹Œì§€ ì¼ë‹¹ì´ ë”°ë¼ì™€ ì¡´ê³¼ ë§ˆì´í¬ëŠ” ë¶€ìƒì„ ì…ê²Œ ë˜ê³  ë§ˆì§€ë§‰ê¹Œì§€ ë¬´ì‚¬í–ˆë˜ í”„ë­í¬ëŠ” ë„ì›€ì„ ì²­í•˜ê² ë‹¤ë©° ë‚˜ê°”ë‹¤ê°€ ì•…ë‹¹ ì¼í–‰ ì¤‘ ìœ ì¼í•˜ê²Œ ì‚´ì•„ë‚¨ì€ ë‘ëª© í•„ë¡ ê³¼ ì •ë©´ìœ¼ë¡œ ëŒ€ê²°í•˜ê²Œ ë˜ëŠ”ë°...',
  8,
  '1993-10-15',
  6.5,
  215,
  '/rYFAvSPlQUCebayLcxyK79yvtvV.jpg'),
 (8,
  'Life in Loops (A Megacities RMX)',
  'Life in Loops (A Megacities RMX)',
  'en',
  '',
  2,
  '2006-01-01',
  7.5,
  18,
  '/x7Sz339F2oC8mBf0DHCQpKizXaL.jpg'),
 (9,
  'Sonntag im August',
  'Sonntag im August',
  'de',
  '',
  1,
  '2004-09-02',
  7.1,
  12,
  ''),
 (11,
  'ìŠ¤íƒ€ì›Œì¦ˆ: ì—í”¼ì†Œë“œ 4 ìƒˆë¡œìš´ í¬ë§',
  'Star Wars',
  'en',
  'ê³µí™”êµ­ì´ ë¶•ê´´í•˜ê³  ì œêµ­ì´ ìˆ˜ë¦½ëœ ë’¤ 20ë…„, ì œë‹¤ì´ ê¸°ì‚¬ë‹¨ì€ ì „ë©¸í•˜ê³  ê°•ë ¥í•œ ì œêµ­êµ°ì˜ íš¡í¬ì— ì€í•˜ê³„ëŠ” ê³µí¬ì— íœ©ì‹¸ì—¬ ìˆë‹¤. ê·¸ëŸ¬ë˜ ì¤‘ ê³µí™”êµ­ ì¬ê±´ì„ ë…¸ë¦¬ëŠ” ë°˜ë€êµ°ì´ ì œêµ­êµ°ì˜ ë¹„ë°€ë³‘ê¸° ë°ìŠ¤ìŠ¤íƒ€ ì„¤ê³„ë„ë¥¼ í›”ì³ ë‹¬ì•„ë‚˜ê³  ì œêµ­êµ°ì€ ì´ë¥¼ ì«“ëŠ”ë‹¤. í•˜ì§€ë§Œ ê²°êµ­ ì œêµ­ì˜ ì†ì— ë¶™ì¡íˆê²Œ ëœ ê·¸ë“¤ì€ ë“œë¡œì´ë“œ R2-D2ì— ì„¤ê³„ë„ë¥¼ ë„£ì–´ì„œ R2ì˜ ì¹œêµ¬ C-3POì™€ íƒˆì¶œì‹œí‚¤ëŠ” ë° ì„±ê³µí•˜ê³ , ë‘ ë“œë¡œì´ë“œ ì½¤ë¹„ëŠ” íƒ€íˆ¬ì¸ì˜ ì‹œê³¨ ë§ˆì„ì—ì„œ ìˆ™ë¶€ì™€ í•¨ê»˜ ì‚´ê³  ìˆë˜ ì²­ë…„ ë£¨í¬ ìŠ¤ì¹´ì´ì›Œì»¤ì—ê²Œ ì˜¤ê²Œ ë˜ëŠ”ë°...',
  62,
  '1977-05-25',
  8.2,
  16272,
  '/7XFfURIFCJxN1mfBg0SAjk5yGzg.jpg'),
 (12,
  'ë‹ˆëª¨ë¥¼ ì°¾ì•„ì„œ',
  'Finding Nemo',
  'en',
  'ê´‘ëŒ€ì–´ ë§ë¦°ì€ ì•„ë‚´ ì½”ë„ê³¼ 2ì„¸ë“¤ì˜ ë¶€í™”ë¥¼ ê¸°ë‹¤ë¦¬ë˜ ì¤‘ ìƒì–´ì˜ ìŠµê²©ì„ ë°›ëŠ”ë‹¤. ì•Œì„ ë³´í˜¸í•˜ë ¤ë˜ ì•„ë‚´ëŠ” í–‰ë°©ë¶ˆëª…ë˜ê³ , ìœ ì¼í•˜ê²Œ ì‚´ì•„ë‚¨ì€ ì•„ê¸°ì—ê²Œ ë§ë¦°ì€ ë‹ˆëª¨ë¼ëŠ” ì´ë¦„ì„ ë¶™ì¸ë‹¤. ì‚¬ê±´ ì´í›„ í° ë°”ë‹¤ë¥¼ ë¬´ì¡°ê±´ ê²ë‚´ê²Œ ëœ ë§ë¦°ì€ ë‹ˆëª¨ë¥¼ ê³¼ë³´í˜¸í•œë‹¤. í•˜ì§€ë§Œ ë‹ˆëª¨ëŠ” ë“±êµ ì²«ë‚  ì ìˆ˜ë¶€ì—ê²Œ ë‚©ì¹˜ë¼ ì‹œë“œë‹ˆì— ìˆëŠ” ì¹˜ê³¼ì˜ì‚¬ì˜ ìˆ˜ì¡±ê´€ì— ëŒë ¤ê°€ê³ , ìŠ¬í””ìœ¼ë¡œ í˜¼ë¹„ë°±ì‚°í•œ ì•„ë¹  ë§ë¦°ì€ í‰ì†Œì˜ ì‹¬ì•½í•¨ì„ ìŠê³ ë‹ˆëª¨ë¥¼ ì°¾ì•„ë‚˜ì„ ë‹¤. ë‹¨ê¸°ê¸°ì–µìƒì‹¤ì¦ì„ ì§€ë‹Œ ëª…ë‘í•œ ë¬¼ê³ ê¸° ë„ë¦¬ì˜ ë„ì›€ìœ¼ë¡œ ìƒì–´, ì‹¬í•´ì–´, í•´íŒŒë¦¬ì˜ ìœ„í˜‘ì„ ëš«ê³  ë™í˜¸ì£¼ í•´ë¥˜ë¡œ í–¥í•˜ëŠ” ë™ì•ˆ, ë‹ˆëª¨ëŠ” ìˆ˜ì¡±ê´€ì˜ ìƒˆ ì¹œêµ¬ë“¤ê³¼ íƒˆì¶œì„ ëª¨ì˜í•œë‹¤.',
  81,
  '2003-05-30',
  7.8,
  15658,
  '/9ViCYfZ0whpwtKbM2WJP5PfsG2x.jpg'),
 (13,
  'í¬ë ˆìŠ¤íŠ¸ ê²€í”„',
  'Forrest Gump',
  'en',
  'ë¶ˆí¸í•œ ë‹¤ë¦¬, ë‚¨ë“¤ë³´ë‹¤ ì¡°ê¸ˆ ë–¨ì–´ì§€ëŠ” ì§€ëŠ¥ì„ ê°€ì§„ í¬ë ˆìŠ¤íŠ¸ ê²€í”„ëŠ” í—Œì‹ ì ì¸ ì–´ë¨¸ë‹ˆì˜ ë³´ì‚´í•Œê³¼ ì²«ì‚¬ë‘ ì œë‹ˆì™€ì˜ ë§Œë‚¨ìœ¼ë¡œ í¸ê²¬ê³¼ ê´´ë¡­í˜ ì†ì—ì„œë„ ë”°ëœ»í•œ ë§ˆìŒì„ ì§€ë‹ˆê³  ì„±ì¥í•œë‹¤. ë˜ë˜ë“¤ì˜ ê´´ë¡­í˜ì„ í”¼í•´ ë„ë§ì¹˜ë˜ í¬ë ˆìŠ¤íŠ¸ëŠ” ëˆ„êµ¬ë³´ë‹¤ ë¹ ë¥´ê²Œ ë‹¬ë¦´ ìˆ˜ ìˆëŠ” ìì‹ ì˜ ì¬ëŠ¥ì„ ê¹¨ë‹«ëŠ”ë‹¤. ê·¸ì˜ ì¬ëŠ¥ì„ ì•Œì•„ ë³¸ ëŒ€í•™ì—ì„œ ê·¸ë¥¼ ë¯¸ì‹ì¶•êµ¬ ì„ ìˆ˜ë¡œ ë°œíƒí•˜ê³ , ì¡¸ì—… í›„ì—ë„ ë›°ì–´ë‚œ ì‹ ì²´ëŠ¥ë ¥ìœ¼ë¡œ êµ°ì— ë“¤ì–´ê°€ ë¬´ê³µí›ˆì¥ì„ ìˆ˜ì—¬ë°›ëŠ” ë“± íƒ„íƒ„í•œ ì¸ìƒ ê°€ë„ì— ì˜¤ë¥´ê²Œ ëœ í¬ë ˆìŠ¤íŠ¸. í•˜ì§€ë§Œ ì–´ë¨¸ë‹ˆê°€ ë³‘ì— ê±¸ë ¤ ì£½ìŒì„ ë§ì´í•˜ê³ , ì²«ì‚¬ë‘ ì œë‹ˆ ì—­ì‹œ ê·¸ì˜ ê³ì„ ë– ë‚˜ê°€ë©° ë‹¤ì‹œ í•œ ë²ˆ ì¸ìƒì˜ ì „í™˜ì ì„ ë§ì´í•˜ê²Œ ë˜ëŠ”ë°...',
  43,
  '1994-07-06',
  8.5,
  21589,
  '/xdJxoq0dtkchOkUz5UVKuxn7a2V.jpg'),
 (14,
  'ì•„ë©”ë¦¬ì¹¸ ë·°í‹°',
  'American Beauty',
  'en',
  'ë ˆìŠ¤í„° ë²ˆí–„ì€ ì¢Œì ˆê°ìœ¼ë¡œ ê°€ë“ ì°¬ ì¡ì§€ì‚¬ ì§ì›ìœ¼ë¡œ í•˜ë£¨í•˜ë£¨ë¥¼ ë¬´ê¸°ë ¥ ì†ì—ì„œ ì‚´ì•„ê°„ë‹¤. ë¶€ë™ì‚° ì†Œê°œì—…ìë¡œ ì¼í•˜ëŠ” ì•„ë‚´ ì¼€ë¡¤ë¦°ì€ ìˆ˜ì™„ê°€ë¡œ ìì²˜í•˜ê³  ì™„ë²½ì£¼ì˜ë¥¼ ì™¸ì¹˜ë©° ë¬¼ì§ˆë§ŒëŠ¥ì˜ ê¸¸ì„ ì¶”êµ¬í•œë‹¤. ë‘˜ì˜ ê²°í˜¼ìƒí™œì€ ë‹¨ì§€ ë‚¨ë“¤ì—ê²Œ ê³¼ì‹œí•˜ê¸° ìœ„í•œ í˜•ì‹ë¿ì´ê³ , ì™¸ë™ë”¸ ì œì¸ì€ ì•„ë²„ì§€ê°€ ì‚¬ë¼ì ¸ ì£¼ê¸¸ ë°”ë„ ì •ë„ë¡œ ë¯¸ì›Œí•œë‹¤. ì œì¸ì˜ í•™êµë¥¼ ë°©ë¬¸í•œ ë ˆìŠ¤í„°ëŠ” ë”¸ì˜ ë˜ë°”ë¼ì§„ ì¹œêµ¬ ì•ˆì ¤ë¼ë¥¼ ë³´ëŠ” ìˆœê°„ í•œ ëˆˆì— ìš•ì •ì„ í’ˆê²Œ ëœë‹¤. ë ˆìŠ¤í„°ëŠ” ê¸°ì–µ ì†ì—ì„œ ì´ë¯¸ ì‚¬ë¼ì§„ ìì‹ ì˜ ì†Œë…„ê¸°ë¥¼ íšŒë³µí•˜ë ¤ëŠ” ë“¯ì´ ììœ ë¥¼ ì¶”êµ¬í•˜ëŠ”ë°...',
  28,
  '1999-09-15',
  8.0,
  9763,
  '/osdwif0XkFgalOCPksm4Yvczyzc.jpg')]