In [32]:
import pandas as pd
import numpy as np
import os

In [33]:
df = pd.read_csv("../data-files/total_tmdbmovielist.csv", index_col=0, lineterminator='\n')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 652715 entries, 0 to 652714
Data columns (total 25 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   adult                  652687 non-null  object
 1   backdrop_path          154275 non-null  object
 2   belongs_to_collection  12081 non-null   object
 3   budget                 652686 non-null  object
 4   genres                 652684 non-null  object
 5   homepage               71779 non-null   object
 6   id                     652685 non-null  object
 7   imdb_id                403838 non-null  object
 8   original_language      652686 non-null  object
 9   original_title         652659 non-null  object
 10  overview               25451 non-null   object
 11  popularity             652648 non-null  object
 12  poster_path            440667 non-null  object
 13  production_companies   652648 non-null  object
 14  production_countries   652617 non-null  object
 15  release_date           589366 non-null  object
 16  revenue                652617 non-null  object
 17  runtime                599528 non-null  float64
 18  spoken_languages       652617 non-null  object
 19  status                 652617 non-null  object
 20  tagline                8147 non-null    object
 21  title                  652615 non-null  object
 22  video                  652614 non-null  object
 23  vote_average           652614 non-null  float64
 24  vote_count             652614 non-null  float64
dtypes: float64(3), object(22)
memory usage: 129.5+ MB

In [ ]:
df.shape

(652715, 25)

In [ ]:
data = df[['id','genres','vote_average','vote_count','popularity','title','overview']]
data.head()

,id,genres,vote_average,vote_count,popularity,title,overview
0,280000.0,"[{'id': 27, 'name': '공포'}, {'id': 9648, 'name'...",4.1,75.0,5.94,Lemon Tree Passage,NaN
1,280001.0,"[{'id': 99, 'name': '다큐멘터리'}]",0.0,0.0,0.6,The Second Gun,NaN
2,280002.0,"[{'id': 53, 'name': '스릴러'}, {'id': 27, 'name':...",5.5,246.0,56.272,리메이닝,"화창한 어느 날, 수많은 하객들과 친구들의 축복을 받으며 댄(브라이언 디차트)과 스..."
3,280003.0,"[{'id': 16, 'name': '애니메이션'}]",5.8,13.0,1.35,Diskjockey,NaN
4,280004.0,"[{'id': 18, 'name': '드라마'}, {'id': 10402, 'nam...",0.0,0.0,1.09,The Great Waltz,NaN

In [ ]:
m =data['vote_count'].quantile(0.5)
print(m)
data = data.loc[data['vote_count']>= m]

0.0

In [ ]:
data.shape

(652614, 7)

In [ ]:
c = data['vote_count'].mean()
print(c)

20.89463603293831

In [ ]:
def weight_rating(x, m=m, c=c):
    v = x['vote_count']
    r = x['vote_average']

    return( v / (v+m) *r) + (m/(v+m)*c)

In [ ]:
data['score'] = data.apply(weight_rating, axis=1)

/Users/parkseonghun/opt/miniconda3/envs/kdigital-busan/lib/python3.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

KeyboardInterrupt:

In [ ]:
data.head()

,id,genres,vote_average,vote_count,popularity,title,overview,score
0,280000.0,"[{'id': 27, 'name': '공포'}, {'id': 9648, 'name'...",4.1,75.0,5.94,Lemon Tree Passage,NaN,4.1
1,280001.0,"[{'id': 99, 'name': '다큐멘터리'}]",0.0,0.0,0.6,The Second Gun,NaN,NaN
2,280002.0,"[{'id': 53, 'name': '스릴러'}, {'id': 27, 'name':...",5.5,246.0,56.272,리메이닝,"화창한 어느 날, 수많은 하객들과 친구들의 축복을 받으며 댄(브라이언 디차트)과 스...",5.5
3,280003.0,"[{'id': 16, 'name': '애니메이션'}]",5.8,13.0,1.35,Diskjockey,NaN,5.8
4,280004.0,"[{'id': 18, 'name': '드라마'}, {'id': 10402, 'nam...",0.0,0.0,1.09,The Great Waltz,NaN,NaN

In [ ]:
data.shape

(652614, 8)

In [ ]:
data[['genres']].head()

                                              genres
0  [{'id': 27, 'name': '공포'}, {'id': 9648, 'name'...
1                      [{'id': 99, 'name': '다큐멘터리'}]
2  [{'id': 53, 'name': '스릴러'}, {'id': 27, 'name':...
3                      [{'id': 16, 'name': '애니메이션'}]
4  [{'id': 18, 'name': '드라마'}, {'id': 10402, 'nam...

In [ ]:
import ast as ast

In [ ]:
data['genres'] = data['genres'].apply(ast.literal_eval)

KeyboardInterrupt:

In [ ]:
data[['genres']]

                                                   genres
0       [{'id': 27, 'name': '공포'}, {'id': 9648, 'name'...
1                           [{'id': 99, 'name': '다큐멘터리'}]
2       [{'id': 53, 'name': '스릴러'}, {'id': 27, 'name':...
3                           [{'id': 16, 'name': '애니메이션'}]
4       [{'id': 18, 'name': '드라마'}, {'id': 10402, 'nam...
...                                                   ...
652710                        [{'id': 35, 'name': '코미디'}]
652711                                                 []
652712                                                 []
652713                                                 []
652714                                                 []

[652614 rows x 1 columns]

In [ ]:
data['genres'] = data['genres'].apply(lambda x:[d['name'] for d in x]).apply(lambda x: " ".join(x))

In [ ]:
data.head()

,id,genres,vote_average,vote_count,popularity,title,overview,score
0,280000.0,공포 미스터리 스릴러,4.1,75.0,5.94,Lemon Tree Passage,NaN,4.1
1,280001.0,다큐멘터리,0.0,0.0,0.6,The Second Gun,NaN,NaN
2,280002.0,스릴러 공포,5.5,246.0,56.272,리메이닝,"화창한 어느 날, 수많은 하객들과 친구들의 축복을 받으며 댄(브라이언 디차트)과 스...",5.5
3,280003.0,애니메이션,5.8,13.0,1.35,Diskjockey,NaN,5.8
4,280004.0,드라마 음악 로맨스,0.0,0.0,1.09,The Great Waltz,NaN,NaN

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
counter = CountVectorizer(ngram_range=(1,3))

In [ ]:
c_count_genres = counter.fit_transform(data['genres'])

In [ ]:
c_count_genres

<652614x4089 sparse matrix of type '<class 'numpy.int64'>'
	with 899359 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_genre = cosine_similarity(c_count_genres, c_count_genres).argsort()[:,::-1]
print(similarity_genre)

In [ ]:
similarity_genre.shape

Error: Session cannot generate requests

In [ ]:
def recommend_movie_list(df, movie_title, top=30):
    # 특정영화 정보 뽑아내기
    target_movie_index = df[df['title'] == movie_title].index.values

    # 타겟영화와 비슷한 코사인 유사도값
    sim_index = similarity_genre[target_movie_index, :top].reshape(-1)
    # 본인제외
    sim_index = sim_index[sim_index != target_movie_index ]

    # 추천결과 새로운 df생성, 평균평점(score)으로 정렬
    result = df.iloc[sim_index].sort_values('score', ascending=False)[:10]

    return result

In [ ]:
recommend_movie_list(data, movie_title='샹치와 텐 링즈의 전설')

IndexError: index 172780 is out of bounds for axis 0 with size 68480