In [3]:
import requests
import json
import pandas as pd
import numpy as np
import pymysql
import os

In [13]:
# 1. 영화장르 정보 crawling 후 csv파일로 저장 

genre_url="https://api.themoviedb.org/3/genre/movie/list?api_key=36927ad1d2817ff0fa31947e47d186fd&language=ko-KR"
response = requests.get(genre_url)
json_object = response.content
genre_data = json.loads(json_object)
genre_data
genre_data_df = pd.DataFrame(genre_data['genres'])

#genre_data_df.to_csv("genre.csv")

{'genres': [{'id': 28, 'name': '액션'},
  {'id': 12, 'name': '모험'},
  {'id': 16, 'name': '애니메이션'},
  {'id': 35, 'name': '코미디'},
  {'id': 80, 'name': '범죄'},
  {'id': 99, 'name': '다큐멘터리'},
  {'id': 18, 'name': '드라마'},
  {'id': 10751, 'name': '가족'},
  {'id': 14, 'name': '판타지'},
  {'id': 36, 'name': '역사'},
  {'id': 27, 'name': '공포'},
  {'id': 10402, 'name': '음악'},
  {'id': 9648, 'name': '미스터리'},
  {'id': 10749, 'name': '로맨스'},
  {'id': 878, 'name': 'SF'},
  {'id': 10770, 'name': 'TV 영화'},
  {'id': 53, 'name': '스릴러'},
  {'id': 10752, 'name': '전쟁'},
  {'id': 37, 'name': '서부'}]}

In [19]:
# 2. mysql genre table에 영화 장르정보 삽입

conn = pymysql.connect(host="localhost",
                       database="finalteam3",
                       user="kdigital",
                       password="mysql",
                       charset="utf8")
cursor = conn.cursor()

cursor.execute('DELETE FROM genre')
for id, name in genre_data_df.values:
    # print("{0}/{1}".format(id, name))
    sql= "INSERT INTO genre VALUES(%s, %s)"
    cursor.execute(sql, (id, name))

conn.commit()
cursor.close()
conn.close()