In [1]:
import json
import pandas as pd
import requests

top_rated = []
for i in range(1,1000):
    url = 'https://api.themoviedb.org/3/movie/top_rated?api_key={1}&language=ko-KR&page={0}'.format(i,'36927ad1d2817ff0fa31947e47d186fd')
    resp = requests.get(url)
    top_rated.append(json.loads(resp.content))

    if i == 10:
        break

top_rated_movies = []
for row in top_rated:
    for result in row ['results']:
        top_rated_movies.append(result)

In [2]:
top_rated_movies=pd.DataFrame(top_rated_movies)
top_rated_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              200 non-null    bool
 1   backdrop_path      199 non-null    object
 2   genre_ids          200 non-null    object
 3   id                 200 non-null    int64
 4   original_language  200 non-null    object
 5   original_title     200 non-null    object
 6   overview           200 non-null    object
 7   popularity         200 non-null    float64
 8   poster_path        200 non-null    object
 9   release_date       200 non-null    object
 10  title              200 non-null    object
 11  video              200 non-null    bool
 12  vote_average       200 non-null    float64
 13  vote_count         200 non-null    int64
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 19.3+ KB

In [3]:
# top_rated_movies.to_csv("../data-files/top_rated_movies.csv", header=True, index=True)

In [4]:
top_rated_movies=top_rated_movies.drop(['adult', 'backdrop_path', 'video', 'genre_ids'], axis=1)

In [5]:
top_rated_movies.head(2)

,id,original_language,original_title,overview,popularity,poster_path,release_date,title,vote_average,vote_count
0,19404,hi,दिलवाले दुल्हनिया ले जायेंगे,영국에서 유학중인 라즈(샤룩 칸)와 인도 처녀 심란(까졸). 심란은 부모님이 정해...,26.387,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,1995-10-20,용감한 자가 신부를 데려가리,8.7,3265
1,278,en,The Shawshank Redemption,촉망받는 은행 간부 앤디 듀프레인은 아내와 그녀의 정부를 살해했다는 누명을 쓴다. ...,71.222,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,쇼생크 탈출,8.7,20232

In [49]:
# 칼럼이름을 DB 칼럼이름과 동일하게 변경

top_rated_movies=top_rated_movies.rename(columns={'id':'movie_id', 'original_title':'subtitle','poster_path':'posterpath'})
top_rated_movies.head(25)

,movie_id,original_language,subtitle,overview,popularity,posterpath,release_date,title,vote_average,vote_count
0,19404,hi,दिलवाले दुल्हनिया ले जायेंगे,영국에서 유학중인 라즈(샤룩 칸)와 인도 처녀 심란(까졸). 심란은 부모님이 정해...,26.387,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,1995-10-20,용감한 자가 신부를 데려가리,8.7,3265
1,278,en,The Shawshank Redemption,촉망받는 은행 간부 앤디 듀프레인은 아내와 그녀의 정부를 살해했다는 누명을 쓴다. ...,71.222,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,쇼생크 탈출,8.7,20232
2,238,en,The Godfather,"시실리에서 이민온 뒤, 정치권까지 영향력을 미치는 거물로 자리잡은 돈 꼴레오네는 갖...",55.174,/cOwVs8eYA4G9ZQs7hIRSoiZr46Q.jpg,1972-03-14,대부,8.7,15141
3,724089,en,Gabriel's Inferno Part II,,11.288,/8Rxutea68d940kg44Box5gFmKcF.jpg,2020-07-31,가브리엘의 지옥 파트 2,8.7,1342
4,761053,en,Gabriel's Inferno Part III,,26.727,/qtX2Fg9MTmrbgN1UUvGoCsImTM8.jpg,2020-11-19,Gabriel's Inferno Part III,8.6,907
5,424,en,Schindler's List,2차 세계대전 당시 독일군이 점령한 폴란드. 시류에 맞춰 자신의 성공을 추구하는 기...,39.905,/oyyUcGwLX7LTFS1pQbLrQpyzIyt.jpg,1993-11-30,쉰들러 리스트,8.6,12094
6,482321,en,Ron's Gone Wrong,최첨단 소셜 AI 로봇 비봇이 모든 아이들의 친구가 되는 세상. 비봇을 갖는 것이 ...,809.465,/o54XbhGUHeqDXr1Ro6GEGbodIuS.jpg,2021-10-15,고장난 론,8.6,209
7,696374,en,Gabriel's Inferno,,12.965,/oyG9TL7FcRP4EZ9Vid6uKzwdndz.jpg,2020-05-29,가브리엘의 지옥,8.6,2162
8,240,en,The Godfather: Part II,"아버지의 장례식 도중에 맏아들 파올로가 총에 맞아 죽고, 비토(로버트 드니로)는 겨...",38.063,/cj9UsJEN5bNf6ZoF1BbKjKN81hc.jpg,1974-12-20,대부 2,8.6,9116
9,255709,ko,소원,"어느 비 오는 아침, 학교를 가던 9살 소녀 소원은 술에 취한 아저씨에게 끌려가 믿...",11.741,/PZlNvDwKwHeHUsXnd6SEDXWZNn.jpg,2013-10-02,소원,8.6,236
10,283566,ja,シン・エヴァンゲリオン劇場版:||,에반게리온 신극장판의 제4탄이자 완결편. 미사토와 반네르프 조직 빌레는 코어와 닮은...,175.255,/eadcE25WY7XlnlhPnE9HuDWeLLj.jpg,2021-03-08,에반게리온 3.0+1.01,8.6,391
11,372058,ja,君の名は。,시골에 사는 소녀 미츠하(가미시라이시 모네)는 어느 날 잠에서 깬 후 자신의 몸이 ...,149.697,/wx1Dxr4UyvN18SyC5GsVWWWtYja.jpg,2016-08-26,너의 이름은.,8.6,8111
12,129,ja,千と千尋の神隠し,평범한 열 살 짜리 소녀 치히로 식구는 이사 가던 중 길을 잘못 들어 낡은 터널을 ...,68.157,/u1L4qxIu5sC2P082uMHYt7Ifvnj.jpg,2001-07-20,센과 치히로의 행방불명,8.5,12120
13,496243,ko,기생충,전원 백수로 살 길 막막하지만 사이는 좋은 기택 가족. 장남 기우에게 명문대생 친구...,83.037,/jjHccoFjbqlfr4VGLVLT7yek0Xn.jpg,2019-05-30,기생충,8.5,12610
14,632632,ja,映画 ギヴン,"고등학생 우에노야마 리츠카는 사토 마후유의 노랫소리에 충격을 받아 나카야마 하루키,...",123.202,/tVP1DjnljT1it6cAnn353cdVXDe.jpg,2020-08-22,기븐 극장판,8.5,272
15,389,en,12 Angry Men,"뉴욕시의 법정에 아버지를 칼로 찌른 한 소년의 살인혐의를 두고, 12인의 배심원들은...",23.301,/e02s4wmTAExkKg0yF4dEG98ZRpK.jpg,1957-04-10,12명의 성난 사람들,8.5,5997
16,644479,es,Dedicada a mi ex,,17.981,/xc4bTXVwYNXi10jG9dwcaYt5IpU.jpg,2019-11-01,Dedicada a mi ex,8.5,440
17,497,en,The Green Mile,미국 루이지애나의 콜드 마운틴 교도소. 폴은 사형수 감방의 간수장으로 일하고 있다....,48.390,/yuSpRhrTIJa5JN8oESrfD2bndp1.jpg,1999-12-10,그린 마일,8.5,13137
18,532067,ja,映画 この素晴らしい世界に祝福を！紅伝説,교통사고(!?)로 허무하게 인생의 막을 내릴 예정이었던 게임을 사랑하는 은둔형 외톨...,185.468,/hrE3lJtYnozIENA738mzQI65Avb.jpg,2019-08-30,이 멋진 세계에 축복을!,8.5,318
19,441130,en,Wolfwalkers,사냥꾼이 되고 싶은 소녀 로빈은 아버지와 함께 마지막 남겨진 늑대 떼를 없애기 위해...,24.346,/ehAKuE48okTuonq6TpsNQj8vFTC.jpg,2020-10-26,울프워커스,8.5,635
20,680,en,Pulp Fiction,펌프킨와 허니 버니가 레스토랑에서 강도 행각을 벌이기 시작한다. 빈센트와 그 동료 ...,46.524,/6lXRHGoEbnnBUKsuqpL9JxD4DzT.jpg,1994-09-10,펄프 픽션,8.5,22193
21,155,en,The Dark Knight,범죄와 부정부패를 제거하여 고담시를 지키려는 배트맨. 그는 짐 고든 형사와 패기 넘...,75.040,/f6dNinWX8rBM79JXKcShkfSh2oA.jpg,2008-07-14,다크 나이트,8.5,26315
22,122,en,The Lord of the Rings: The Return of the King,"사우론이 인간들의 마지막 요새인 곤도르를 향해 야욕을 드러내고 있는 한편, 아라곤은...",95.984,/tAXXuEAKLk2mOEIJzwajJQEnVZu.jpg,2003-12-01,반지의 제왕: 왕의 귀환,8.5,18671
23,13,en,Forrest Gump,"불편한 다리, 남들보다 조금 떨어지는 지능을 가진 포레스트 검프는 헌신적인 어머니의...",54.245,/xdJxoq0dtkchOkUz5UVKuxn7a2V.jpg,1994-07-06,포레스트 검프,8.5,21701
24,572154,ja,青春ブタ野郎はゆめみる少女の夢を見ない,"하늘과 바다가 반짝이는 마을 ""후지사와""에 사는 고등학생 아즈사가와 사쿠타는 같은 ...",160.920,/hqNkm15rQI6049Pg3XPSE8PMW98.jpg,2019-06-15,청춘 돼지는 꿈꾸는 소녀의 꿈을 꾸지 않는다,8.5,329

In [7]:
top_rated_movies.isna().sum()

movie_id             0
original_language    0
subtitle             0
overview             0
popularity           0
posterpath           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [9]:
top_rated_movies_ids=top_rated_movies[["movie_id"]]
top_rated_movies_ids

     movie_id
0       19404
1         278
2         238
3      724089
4      761053
..        ...
195     42229
196       655
197       489
198    455661
199     68718

[200 rows x 1 columns]

In [53]:
import pymysql

conn = pymysql.connect(host="localhost",
                       database="finalteam3",
                       user="kdigital",
                       password="mysql",
                       charset="utf8")
cursor = conn.cursor()

# cursor.execute('DELETE FROM top_rated_movies')
error_list=[]
for movie_id in top_rated_movies_ids.values:
    # print(type(movie_id), movie_id)  # movie_id type이 nd.arrary임.
    try:
        sql= "INSERT INTO top_rated_movies VALUES(%s)"
        cursor.execute(sql, movie_id[0]) 
    except:
        error_list.append(movie_id)
    
conn.commit()
cursor.close()
conn.close()

In [ ]:
"""  
import pymysql
import numpy as np

conn = pymysql.connect(host="localhost",
                       database="finalteam3",
                       user="kdigital",
                       password="mysql",
                       charset="utf8")
cursor = conn.cursor()

# cursor.execute('DELETE FROM top_rated_movies')

error_list = []
for movie in top_rated_movies.values:
    #print(movie_id)
    sql = "SELECT COUNT(*) FROM movie WHERE movie_id = %s"  # movie_id가 동일한 영화 정보가져오기
    cursor.execute(sql, movie[0])
    cnt = cursor.fetchone()
    print(cnt[0])    #0은 movie table에 없는 영화, 1은 있는 영화
    if cnt[0] == 0: # not exist
        sql = "insert into movie (movie_id, title, subtitle, original_language, overview, popularity, release_date, vote_average, vote_count, posterpath) values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(sql, list(movie[list(np.array([9, 24, 12, 11, 13, 14, 18, 26, 27, 15]))]))
    # print(type(movie_id), movie_id)  # movie_id type이 nd.arrary임. 삽입시 1차원으로.
    #print(type(movie_id[0]), movie_id[0])
    #sql= "INSERT INTO top_rated_movies VALUES(%s)"
    #cursor.execute(sql, movie_id[0])
    
conn.commit()
cursor.close()
conn.close()

"""